.absent, .misplaced, .correct {
  color: white !important;
}

.absent {
  background-color: rgb(100, 100, 100) !important;
  border-color: rgb(100, 100, 100) !important;
}

.misplaced {
  background-color: rgb(252, 195, 72) !important;
  border-color: rgb(252, 195, 72) !important;
}

.correct {
  background-color: rgb(102, 148, 77) !important;
  border-color: rgb(102, 148, 77) !important;
}

.empty {
  border-color: rgb(201, 201, 201) !important;
}
