@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  background-color: rgb(235, 235, 235);
}

html, body, #root, .word-game-app {
  height: 100%;
}

h1, h2, h3, h4 {
  margin: 0;
}

header {
  border-bottom: 1px solid rgb(201, 201, 201);
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgb(235, 235, 235);
  color: rgb(48, 48, 48);
  box-sizing: border-box;
}

header h1 {
  font-size: 2.2em;
}

main {
  max-width: 1200px;
  margin: 0px auto 0 auto;
  height: 100%;
  padding-top: 90px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

#progress-play-container {
  display: flex;
  flex: 1 1 auto;
}

#progress-area {
  width: 30%;
  border-right: 1px solid rgb(201, 201, 201);
  box-sizing: border-box;
  position: relative;
}

#play-area {
  width: 70%;
  position: relative;
}

#progress-area-overflow-scroll, #play-area-overflow-scroll{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}

#keyboard-area {
  width: 100%;
  margin-top: 20px;
  padding: 20px 10px;
  border-top: 1px solid rgb(201, 201, 201);
  flex: 0 1 auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 650px) {
  header {
    height: 40px;
  }

  header h1 {
    font-size: 1.2em;
  }

  main {
    padding-top: 60px;
  }
}